@model Group_Project.Models.Movie


    ViewData["Title"] = "Details";
}


<style>
    .image {
        float: left;
        width: 45%;
    }
    .info {
        float: right;
        width: 55%;
    }
    .comment-section {
        text-align: center;
        margin-top: 20px;
        padding: 20px;
    }
    .comments-list {
        list-style-type: none;
        padding: 0;
    }
        .comments-list li {
            text-align: left;
            margin-bottom: 15px;
            overflow: auto;
        }
    .comment-text {
        float: left;
        width: 70%;
    }
    .comment-actions {
        float: right;
        width: 30%;
    }
    textarea {
        width: 80%;
        margin-bottom: 10px;
    }
</style>


<div>
    <dl class="row">
        <div class="image">
            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10"><img src="@Html.DisplayFor(model => model.ImageSrc)" alt="Movie Image" width="450" height="675" /></dd>
        </div>
        <div class="info">
            <h1>@Html.DisplayFor(model => model.Title)</h1>

            <dt>Movie Description</dt>
            <dd>@Html.DisplayFor(model => model.Description)</dd>

            <dt>Genres </dt>
            <dd>@Html.DisplayFor(model => model.Genre)</dd>

            <dt>Release Date</dt>
            <dd>@Html.DisplayFor(model => model.FormattedReleaseDate)</dd>
        
            <dt>Box Office Total</dt>
            <dd>$@Html.DisplayFor(model => model.BoxOfficeTotal)</dd>
        
            <dt>IMDB Score</dt>
            <dd>@Html.DisplayFor(model => model.IMBDScore)</dd>
        </div>
    </dl>
</div>

<div class="comment-section">
    <form asp-action="AddComment" method="post">
        <input type="hidden" asp-for="Id" />
        <label for="Comment">Add your comment:</label>
        <br>
        <textarea name="Comment" required></textarea>
        <br>
        <button type="submit">Submit Comment</button>
    </form>
    <br>
    @if (Model.Comments != null && Model.Comments.Any())
    {
        @Html.DisplayNameFor(model => model.Comments)
        <ul class="comments-list">
            @foreach (var comment in Model.Comments)
            {
                <li>
                    <div class="comment-text">
                        @comment.Text
                        <p>
                            <small>Posted by @comment.Author.FirstName on @comment.DatePosted.ToString("MMMM d, yyyy")</small>
                        </p>
                    </div>
                    <div class="comment-actions" align="right">
                        <form asp-action="RemoveComment" method="post">
                            <input type="hidden" name="commentId" value="@comment.Id" />
                            <button type="submit">Remove Comment</button>
                        </form>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No comments yet.</p>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>